location /user {
  rewrite ^/user-data/?$ /../userdata/$remote_addr/user-data break;
  rewrite ^/user-data$ /../userdata/$remote_addr/user-data break;
}

location /meta {
  rewrite ^/meta-data/?$ /../metadata/$remote_addr/meta-data break;
  rewrite ^/meta-data/(.+[^/])/?$ /../metadata/$remote_addr/$1 break;
  rewrite ^/meta-data/(.+)$ /../metadata/$remote_addr/$1 break;
  rewrite ^/meta-data/$ /../metadata/$remote_addr/meta-data break;
}

location /availability {
  rewrite ^/availability-zone/?$ /../metadata/$remote_addr/availability-zone break;
  rewrite ^/availability-zone$ /../metadata/$remote_addr/availability-zone break;
}

location /cloud {
  rewrite ^/cloud-identifier/?$ /../metadata/$remote_addr/cloud-identifier break;
  rewrite ^/cloud-identifier$ /../metadata/$remote_addr/cloud-identifier break;
}

location /instance {
  rewrite ^/instance-id/?$ /../metadata/$remote_addr/instance-id break;
  rewrite ^/instance-id$ /../metadata/$remote_addr/instance-id break;
}

location /local {
  rewrite ^/local-hostname/?$ /../metadata/$remote_addr/local-hostname break;
  rewrite ^/local-ipv4/?$ /../metadata/$remote_addr/local-ipv4 break;
  rewrite ^/local-ipv4$ /../metadata/$remote_addr/local-ipv4 break;
  rewrite ^/local-hostname$ /../metadata/$remote_addr/local-hostname break;
}

location /public {
  rewrite ^/public-hostname/?$ /../metadata/$remote_addr/public-hostname break;
  rewrite ^/public-ipv4/?$ /../metadata/$remote_addr/public-ipv4 break;
  rewrite ^/public-keys/?$ /../metadata/$remote_addr/public-keys break;
  rewrite ^/public-ipv4$ /../metadata/$remote_addr/public-ipv4 break;
  rewrite ^/public-hostname$ /../metadata/$remote_addr/public-hostname break;
  rewrite ^/public-keys$ /../metadata/$remote_addr/public-keys break;
}

location /service {
  rewrite ^/service-offering/?$ /../metadata/$remote_addr/service-offering break;
  rewrite ^/service-offering$ /../metadata/$remote_addr/service-offering break;
}

location /vm {
  rewrite ^/vm-id/?$ /../metadata/$remote_addr/vm-id break;
  rewrite ^/vm-id$ /../metadata/$remote_addr/vm-id break;
}
