[Unit]
Description=Cosmic Password Server listening on %I

[Service]
Type=simple
WorkingDirectory=/opt/cosmic/router/bin
ExecStart=/opt/cosmic/router/bin/passwd_server_ip.py %I

[Install]
WantedBy=multi-user.target
