vrrp_instance inside_network {
    state BACKUP
    interface eth1
    virtual_router_id 3
    nopreempt
    native_ipv6
    advert_int [ADVERT_INT]
    virtual_ipaddress {
        fe80:1::3
    }
    virtual_ipaddress_excluded {
        [ROUTER_IP] brd [BOARDCAST] dev eth2
    }
}
